<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyz.dao.InventoryRecordMapper">
	<!-- 实体类 - 数据库映射 -->
	<resultMap id="BaseResultMap" type="com.yyz.entity.InventoryRecord">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="inventoryId" property="inventoryId" jdbcType="BIGINT" />
		<result column="carSerialNumber" property="carSerialNumber"
			jdbcType="VARCHAR" />
		<result column="originalAmount" property="originalAmount"
			jdbcType="BIGINT" />
		<result column="changeAmount" property="changeAmount" jdbcType="BIGINT" />
		<result column="operateUserLoginId" property="operateUserLoginId"
			jdbcType="BIGINT" />
		<result column="changeInventoryTime" property="changeInventoryTime"
			jdbcType="BIGINT" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="BIGINT" />
		<result column="updateTime" property="updateTime" jdbcType="BIGINT" />
		<result column="deleteTime" property="deleteTime" jdbcType="BIGINT" />
		<result column="reserve0" property="reserve0" jdbcType="BIGINT" />
		<result column="reserve1" property="reserve1" jdbcType="BIGINT" />
		<result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 用于 SELECT 语句的所有字段 -->
	<sql id="Base_Column_List">
		id, type, inventoryId, carSerialNumber,
		originalAmount,
		changeAmount, operateUserLoginId,
		changeInventoryTime,comment,
		createTime, updateTime, deleteTime, reserve0, reserve1, reserve2
	</sql>

	<!-- 按主键查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from InventoryRecord
		where id = #{id,jdbcType=BIGINT}
	</select>

	<!-- -->
	<insert id="insert" parameterType="com.yyz.entity.InventoryRecord">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into InventoryRecord (type, inventoryId, carSerialNumber,
		originalAmount, changeAmount, operateUserLoginId,
		changeInventoryTime,comment,
		createTime, updateTime,
		deleteTime,
		reserve0, reserve1,
		reserve2)
		values
		(#{type,jdbcType=INTEGER},
		#{inventoryId,jdbcType=BIGINT},
		#{carSerialNumber,jdbcType=VARCHAR},
		#{originalAmount,jdbcType=BIGINT},
		#{changeAmount,jdbcType=BIGINT},
		#{operateUserLoginId,jdbcType=BIGINT},
		#{changeInventoryTime,jdbcType=BIGINT},
		#{comment,jdbcType=VARCHAR},
		#{createTime,jdbcType=BIGINT},
		#{updateTime,jdbcType=BIGINT},
		#{deleteTime,jdbcType=BIGINT},
		#{reserve0,jdbcType=BIGINT},
		#{reserve1,jdbcType=BIGINT},
		#{reserve2,jdbcType=VARCHAR})
	</insert>

	<!-- 插入 - 仅保存给定实体类中非null的字段 -->
	<insert id="insertSelective" parameterType="com.yyz.entity.InventoryRecord">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into InventoryRecord
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="type != null">
				type,
			</if>
			<if test="inventoryId != null">
				inventoryId,
			</if>
			<if test="carSerialNumber != null">
				carSerialNumber,
			</if>
			<if test="originalAmount != null">
				originalAmount,
			</if>
			<if test="changeAmount != null">
				changeAmount,
			</if>
			<if test="operateUserLoginId != null">
				operateUserLoginId,
			</if>
			<if test="changeInventoryTime != null">
				changeInventoryTime,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
			<if test="deleteTime != null">
				deleteTime,
			</if>
			<if test="reserve0 != null">
				reserve0,
			</if>
			<if test="reserve1 != null">
				reserve1,
			</if>
			<if test="reserve2 != null">
				reserve2,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="inventoryId != null">
				#{inventoryId,jdbcType=BIGINT},
			</if>
			<if test="carSerialNumber != null">
				#{carSerialNumber,jdbcType=VARCHAR},
			</if>
			<if test="originalAmount != null">
				#{originalAmount,jdbcType=BIGINT},
			</if>
			<if test="changeAmount != null">
				#{changeAmount,jdbcType=BIGINT},
			</if>
			<if test="operateUserLoginId != null">
				#{operateUserLoginId,jdbcType=BIGINT},
			</if>
			<if test="changeInventoryTime != null">
				#{changeInventoryTime,jdbcType=BIGINT},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=BIGINT},
			</if>
			<if test="deleteTime != null">
				#{deleteTime,jdbcType=BIGINT},
			</if>
			<if test="reserve0 != null">
				#{reserve0,jdbcType=BIGINT},
			</if>
			<if test="reserve1 != null">
				#{reserve1,jdbcType=BIGINT},
			</if>
			<if test="reserve2 != null">
				#{reserve2,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 按主键更新 - 仅更新给定实体类中非null的字段 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.yyz.entity.InventoryRecord">
		update InventoryRecord
		<set>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="inventoryId != null">
				inventoryId =
				#{inventoryId,jdbcType=BIGINT},
			</if>
			<if test="carSerialNumber != null">
				carSerialNumber =
				#{carSerialNumber,jdbcType=VARCHAR},
			</if>
			<if test="originalAmount != null">
				originalAmount =
				#{originalAmount,jdbcType=BIGINT},
			</if>
			<if test="changeAmount != null">
				changeAmount =
				#{changeAmount,jdbcType=BIGINT},
			</if>
			<if test="operateUserLoginId != null">
				operateUserLoginId =
				#{operateUserLoginId,jdbcType=BIGINT},
			</if>
			<if test="changeInventoryTime != null">
				changeInventoryTime =
				#{changeInventoryTime,jdbcType=BIGINT},
			</if>
			<if test="comment != null">
				comment =
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				createTime =
				#{createTime,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				updateTime =
				#{updateTime,jdbcType=BIGINT},
			</if>
			<if test="deleteTime != null">
				deleteTime =
				#{deleteTime,jdbcType=BIGINT},
			</if>
			<if test="reserve0 != null">
				reserve0 =
				#{reserve0,jdbcType=BIGINT},
			</if>
			<if test="reserve1 != null">
				reserve1 =
				#{reserve1,jdbcType=BIGINT},
			</if>
			<if test="reserve2 != null">
				reserve2 =
				#{reserve2,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- -->
	<update id="updateByPrimaryKey" parameterType="com.yyz.entity.InventoryRecord">
		update
		InventoryRecord
		set type = #{type,jdbcType=INTEGER},
		inventoryId =
		#{inventoryId,jdbcType=BIGINT},
		carSerialNumber =
		#{carSerialNumber,jdbcType=VARCHAR},
		originalAmount =
		#{originalAmount,jdbcType=BIGINT},
		changeAmount =
		#{changeAmount,jdbcType=BIGINT},
		operateUserLoginId =
		#{operateUserLoginId,jdbcType=BIGINT},
		changeInventoryTime =
		#{changeInventoryTime,jdbcType=BIGINT},
		comment =
		#{comment,jdbcType=VARCHAR},
		createTime =
		#{createTime,jdbcType=BIGINT},
		updateTime =
		#{updateTime,jdbcType=BIGINT},
		deleteTime =
		#{deleteTime,jdbcType=BIGINT},
		reserve0 = #{reserve0,jdbcType=BIGINT},
		reserve1 = #{reserve1,jdbcType=BIGINT},
		reserve2 =
		#{reserve2,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 根据条件进行查询 -->
	<select id="selectByConditionAndPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from InventoryRecord
		<where>
			<if test="inventoryId != null">
				and inventoryId =
				#{inventoryId,jdbcType=BIGINT}
			</if>
			<if test="type != null">
				and type =
				#{type,jdbcType=INTEGER}
			</if>
			and deleteTime is null
		</where>
		order by id desc
		limit #{beginIndex},#{size}
	</select>
</mapper>