<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyz.dao.UserMapper">
	<!-- 实体类 - 数据库映射 -->
	<resultMap id="BaseResultMap" type="com.yyz.entity.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="department" property="department" jdbcType="INTEGER" />
		<result column="loginId" property="loginId" jdbcType="BIGINT" />
		<result column="loginPhone" property="loginPhone" jdbcType="VARCHAR" />
		<result column="loginName" property="loginName" jdbcType="VARCHAR" />
		<result column="loginMail" property="loginMail" jdbcType="VARCHAR" />
		<result column="loginPassword" property="loginPassword"
			jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="BIGINT" />
		<result column="updateTime" property="updateTime" jdbcType="BIGINT" />
		<result column="deleteTime" property="deleteTime" jdbcType="BIGINT" />
		<result column="userRemark" property="userRemark" jdbcType="VARCHAR" />
		<result column="reserve0" property="reserve0" jdbcType="BIGINT" />
		<result column="reserve1" property="reserve1" jdbcType="BIGINT" />
		<result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 用于 SELECT 语句的所有字段 -->
	<sql id="Base_Column_List">
		id, department, loginId, loginPhone,
		loginName, loginMail,
		loginPassword, position, status,gender,age,
		createTime, updateTime,
		deleteTime,
		userRemark, reserve0, reserve1, reserve2
	</sql>

	<!-- 按主键查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from User
		where id = #{id,jdbcType=BIGINT}
	</select>

	<!-- -->
	<insert id="insert" parameterType="com.yyz.entity.User">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into User (department, loginId, loginPhone,
		loginName,
		loginMail,
		loginPassword,
		position, status, gender,age,createTime,
		updateTime,
		deleteTime,
		userRemark,
		reserve0, reserve1, reserve2
		)
		values
		(#{department,jdbcType=INTEGER}, #{loginId,jdbcType=BIGINT},
		#{loginPhone,jdbcType=VARCHAR},
		#{loginName,jdbcType=VARCHAR},
		#{loginMail,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR},
		#{position,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
		#{gender,jdbcType=INTEGER},#{age,jdbcType=INTEGER},
		#{createTime,jdbcType=BIGINT},
		#{updateTime,jdbcType=BIGINT},
		#{deleteTime,jdbcType=BIGINT}, #{userRemark,jdbcType=VARCHAR},
		#{reserve0,jdbcType=BIGINT}, #{reserve1,jdbcType=BIGINT},
		#{reserve2,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 插入 - 仅保存给定实体类中非null的字段 -->
	<insert id="insertSelective" parameterType="com.yyz.entity.User">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into User
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="department != null">
				department,
			</if>
			<if test="loginId != null">
				loginId,
			</if>
			<if test="loginPhone != null">
				loginPhone,
			</if>
			<if test="loginName != null">
				loginName,
			</if>
			<if test="loginMail != null">
				loginMail,
			</if>
			<if test="loginPassword != null">
				loginPassword,
			</if>
			<if test="position != null">
				position,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
			<if test="deleteTime != null">
				deleteTime,
			</if>
			<if test="userRemark != null">
				userRemark,
			</if>
			<if test="reserve0 != null">
				reserve0,
			</if>
			<if test="reserve1 != null">
				reserve1,
			</if>
			<if test="reserve2 != null">
				reserve2,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="department != null">
				#{department,jdbcType=INTEGER},
			</if>
			<if test="loginId != null">
				#{loginId,jdbcType=BIGINT},
			</if>
			<if test="loginPhone != null">
				#{loginPhone,jdbcType=VARCHAR},
			</if>
			<if test="loginName != null">
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="loginMail != null">
				#{loginMail,jdbcType=VARCHAR},
			</if>
			<if test="loginPassword != null">
				#{loginPassword,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				#{position,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=INTEGER},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=BIGINT},
			</if>
			<if test="deleteTime != null">
				#{deleteTime,jdbcType=BIGINT},
			</if>
			<if test="userRemark != null">
				#{userRemark,jdbcType=VARCHAR},
			</if>
			<if test="reserve0 != null">
				#{reserve0,jdbcType=BIGINT},
			</if>
			<if test="reserve1 != null">
				#{reserve1,jdbcType=BIGINT},
			</if>
			<if test="reserve2 != null">
				#{reserve2,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 按主键更新 - 仅更新给定实体类中非null的字段 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.yyz.entity.User">
		update User
		<set>
			<if test="department != null">
				department = #{department,jdbcType=INTEGER},
			</if>
			<if test="loginId != null">
				loginId = #{loginId,jdbcType=BIGINT},
			</if>
			<if test="loginPhone != null">
				loginPhone =
				#{loginPhone,jdbcType=VARCHAR},
			</if>
			<if test="loginName != null">
				loginName =
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="loginMail != null">
				loginMail =
				#{loginMail,jdbcType=VARCHAR},
			</if>
			<if test="loginPassword != null">
				loginPassword =
				#{loginPassword,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=INTEGER},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				createTime =
				#{createTime,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				updateTime =
				#{updateTime,jdbcType=BIGINT},
			</if>
			<if test="deleteTime != null">
				deleteTime =
				#{deleteTime,jdbcType=BIGINT},
			</if>
			<if test="userRemark != null">
				userRemark =
				#{userRemark,jdbcType=VARCHAR},
			</if>
			<if test="reserve0 != null">
				reserve0 =
				#{reserve0,jdbcType=BIGINT},
			</if>
			<if test="reserve1 != null">
				reserve1 =
				#{reserve1,jdbcType=BIGINT},
			</if>
			<if test="reserve2 != null">
				reserve2 =
				#{reserve2,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- -->
	<update id="updateByPrimaryKey" parameterType="com.yyz.entity.User">
		update User
		set
		department = #{department,jdbcType=INTEGER},
		loginId =
		#{loginId,jdbcType=BIGINT},
		loginPhone =
		#{loginPhone,jdbcType=VARCHAR},
		loginName =
		#{loginName,jdbcType=VARCHAR},
		loginMail =
		#{loginMail,jdbcType=VARCHAR},
		loginPassword =
		#{loginPassword,jdbcType=VARCHAR},
		position = #{position,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		gender =
		#{gender,jdbcType=INTEGER},
		age
		= #{age,jdbcType=INTEGER},
		createTime =
		#{createTime,jdbcType=BIGINT},
		updateTime =
		#{updateTime,jdbcType=BIGINT},
		deleteTime =
		#{deleteTime,jdbcType=BIGINT},
		userRemark =
		#{userRemark,jdbcType=VARCHAR},
		reserve0 = #{reserve0,jdbcType=BIGINT},
		reserve1 = #{reserve1,jdbcType=BIGINT},
		reserve2 =
		#{reserve2,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<!-- 根据loginName进行查询 -->
	<select id="selectByLoginName" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from User
		<where>
			<if test="loginName != null">
				and loginName = #{loginName,jdbcType=VARCHAR}
			</if>
			and deleteTime is null
		</where>
	</select>
	<!-- 根据条件进行查询 -->
	<select id="selectByConditionAndPage" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from User
		<where>
			<if test="position != null">
				and position = #{position,jdbcType=INTEGER}
			</if>
			<if test="department != null">
				and department = #{department,jdbcType=INTEGER}
			</if>
			and deleteTime is null
		</where>
		order by id desc
		limit #{beginIndex},#{size}
	</select>

	<!-- 查询当前最大的loginId -->
	<select id="selectMaxLoginId" resultType="java.lang.Long">
		select MAX(loginId)
		FROM
		User
	</select>

</mapper>